* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  /* Typography */
  --font-size-xsmall: 1.2rem; /* 12px */
  --font-size-small: 1.4rem; /* 14px */
  --font-size-base: 1.6rem; /* 16px */
  --font-size-medium: 1.8rem; /* 18px */
  --font-size-large: 2rem; /* 20px */
  --font-size-xlarge: 2.4rem; /* 24px */
  --font-size-2xlarge: 3rem; /* 3px */
  --font-size-3xlarge: 3.4rem; /* 3.4px */
  --font-size-4xlarge: 3.6rem; /* 3.6px */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* Spacing System */
  --space-xsmall: 0.8rem;
  --space-small: 1.2rem;
  --space-base: 1.6rem;
  --space-medium: 2rem;
  --space-large: 2.4rem;
  --space-xlarge: 3.2rem;
  --space-2xlarge: 4rem;
  --space-3xlarge: 4.8rem;
}

body {
  background-image: url(Images/coffee_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: lightblue;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Styling The Navbar Container */

.navbar__container {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-xlarge);
  padding: var(--space-xlarge) var(--space-3xlarge);
}

.navbar__logo {
  width: 25%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-large);
  position: relative;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-medium);
}

.navbar__link a,
.navbar__cta,
.navbar__dropdown--toggle {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: lightgray;
}

.navbar__link a,
.navbar__dropdown--toggle {
  padding: var(--space-xsmall) var(--space-small);
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease;
}

.navbar__link a:hover,
.navbar__dropdown--toggle:hover {
  background: hsl(0, 30%, 70%);
  color: hsl(0, 87%, 12%);
}

/* Navbar Dropdown */

.navbar__dropdown {
  /* width: 100%; */
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.navbar__dropdown--toggle .arrow {
  font-size: var(--font-size-xsmall);
}

.navbar__dropdown--menu {
  display: none;
}

.navbar__dropdown--menu.open {
  position: absolute;
  top: 110%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  max-height: 150px;
  overflow-y: auto;
  background: hsl(0, 30%, 70%);
  border-radius: 12px;
  padding: var(--space-small);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  z-index: 20;
}

.navbar__dropdown--menu a {
  color: hsl(0, 87%, 12%);
  padding: var(--space-xsmall);
  transition: all 0.3s ease;
}

.navbar__dropdown--menu a:hover {
  background: hsl(0, 87%, 12%);
  color: lightgray;
}

/* Navbar Search */

.navbar__search {
  border: none;
  border-radius: 20px;
  padding: 0.6rem var(--space-xsmall);
  font-size: var(--font-size-base);
  color: hsl(0, 95%, 8%);
}

/* Navbar Call To Action CTA */

.navbar__cta {
  background: hsl(0, 30%, 70%);
  color: hsl(0, 87%, 12%);
  padding: var(--space-xsmall) var(--space-small);
  border: 1px solid hsl(0, 40%, 90%);
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-wrap: nowrap;
  transition: all 0.3s ease;
}

.navbar__cta:hover {
  background: transparent;
  color: hsl(0, 47%, 89%);
}

/* Navbar Toggle Buttons */

.navbar__dropdown--toggle {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar__hamburger--btn {
  display: none;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  color: hsl(0, 40%, 90%);
  background: transparent;
  border: none;
  padding: var(--space-xsmall);
  transition: all 0.3s ease;
  cursor: pointer;
} 

.navbar__hamburger--btn:hover {
  color: hsl(0, 30%, 70%);
  transform: translateY(-2px);
}

/* Overlay Styles */

.navbar__overlay {
  display: none;
}

.navbar__overlay.open {
  display: block;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* Navbar media Queries */

@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .navbar__cta {
    display: none;
  }

  .navbar__hamburger--btn {
    display: block;
  }

  .navbar__search {
    font-size: var(--font-size-base);
    padding: var(--space-xsmall);
  }
}

/* The Body */

main {
  margin: 100px auto;
  text-align: center;
}

main .main__heading {
  font-size: var(--font-size-4xlarge);
  font-weight: var(--font-weight-bold);
}

.description {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}