* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  /* Typography */
  --font-size-xsmall: 1.2rem; /* 12px */
  --font-size-small: 1.4rem; /* 14px */
  --font-size-base: 1.6rem; /* 16px */
  --font-size-medium: 1.8rem; /* 18px */
  --font-size-large: 2rem; /* 20px */
  --font-size-xlarge: 2.4rem; /* 24px */
  --font-size-2xlarge: 3rem; /* 3px */
  --font-size-3xlarge: 3.4rem; /* 3.4px */
  --font-size-4xlarge: 3.6rem; /* 3.6px */

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;

  /* Spacing System */
  --space-xsmall: 0.8rem;
  --space-small: 1.2rem;
  --space-base: 1.6rem;
  --space-medium: 2rem;
  --space-large: 2.4rem;
  --space-xlarge: 3.2rem;
  --space-2xlarge: 4rem;
  --space-3xlarge: 4.8rem;
}

body {
  background-image: url(Images/coffee_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Styling The Navbar Container */

.navbar__container {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-xlarge);
  padding: var(--space-xlarge) var(--space-3xlarge);
}

.navbar__logo {
  width: 25%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-large);
  position: relative;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-medium);
}

.navbar__link a,
.navbar__cta,
.select__trigger {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: lightgray;
}

.navbar__link a,
.select__trigger {
  padding: var(--space-xsmall) var(--space-small);
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease;
}

.navbar__link a:hover,
.select__trigger:hover {
  background: hsl(0, 30%, 70%);
  color: hsl(0, 87%, 12%);
}

.navbar__cta {
  background: hsl(0, 30%, 70%);
  color: hsl(0, 87%, 12%);
  padding: var(--space-xsmall) var(--space-small);
  border: 1px solid hsl(0, 40%, 90%);
  border-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-wrap: nowrap;
  transition: all 0.3s ease;
}

.navbar__cta:hover {
  background: transparent;
  color: hsl(0, 47%, 89%);
}

/* Navbar Search */

.navbar__search {
  border: none;
  border-radius: 20px;
  padding: 0.6rem var(--space-xsmall);
  font-size: var(--font-size-base);
  color: hsl(0, 95%, 8%);
}

/* Navbar Toggle Button */

.navbar__toggle {
  display: none;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
  border: none;
  background: transparent;
  color: hsl(0, 47%, 89%);
  padding: var(--space-xsmall);
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar__toggle:hover {
  color: hsl(0, 30%, 70%);
  transform: translateY(-2px);
}

/* Navbar Dropdown */

.select__trigger {
  width: 100%;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xsmall); 
  cursor: pointer;
}

.select__trigger .arrow {
  font-size: var(--font-size-xsmall);
}

.select__options {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-xsmall);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  background: hsl(0, 30%, 70%);
  color: hsl(0, 87%, 12%);
  padding: var(--space-medium) var(--space-small);
  border-radius: 30px;
  border-top-left-radius: 0;
  position: absolute;
  top: 110%;
  right: 0;
  transform: translateX(70%);
}

.select__options li {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: var(--space-xsmall);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select__options li:hover {
  background: brown;
  color: hsl(0, 30%, 70%);
}


/* The Body */

main {
  margin: 100px auto;
  text-align: center;
}

main .main__heading {
  font-size: var(--font-size-4xlarge);
  font-weight: var(--font-weight-bold);
  color: brown;
}

.description {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: hsla(0, 63%, 61%, 0.836);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
}